html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: #F1F1F1;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  font-family: "SFProDisplay";
  color: #FFF9F9;
}

::-webkit-scrollbar-track {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #535353;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #B0B0B0;
}