@font-face {
    font-family: "SFProDisplay";
    src: url(../fonts/SFPRODISPLAYMEDIUM.OTF);
    font-display: swap;
}

@font-face {
    font-family: "SFProDisplayBold";
    src: url(../fonts/SFPRODISPLAYBOLD.OTF);
    font-display: swap;
}

@font-face {
    font-family: "SFProDisplayRegular";
    src: url(../fonts/SFPRODISPLAYREGULAR.ttf);
    font-display: swap;
}

@font-face {
    font-family: "UTM_Penumbra";
    src: url(../fonts/UTM_Penumbra.ttf);
    font-display: swap;
}

@font-face {
    font-family: "UTM_PenumbraBold";
    src: url(../fonts/UTM_PenumbraBold.ttf);
    font-display: swap;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';